$default-color: #f1f1f1;
$bg-color: #211e28;
$bg-color-transparent: rgb(33, 30, 40, 0.8);
$bg-color-section: rgba(33, 30, 40, 0.055);
$bg-section-light: rgb(107, 132, 131, 0.8);
$accent-color: #672b38;
$primary-color: #e5dfdb;
$secondary-color: #5f5f66;

$accent-font: "Montserrat", sans-serif;
$main-font: "Lato", sans-serif;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
